body {
  background: rgba(76, 76, 76, 1);
  background: -moz-linear-gradient(top, rgba(76, 76, 76, 1) 0%, rgba(28, 28, 28, 1) 0%, rgba(102, 102, 102, 1) 0%, rgba(89, 89, 89, 1) 0%, rgba(71, 71, 71, 1) 0%, rgba(19, 19, 19, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76, 76, 76, 1)), color-stop(0%, rgba(28, 28, 28, 1)), color-stop(0%, rgba(102, 102, 102, 1)), color-stop(0%, rgba(89, 89, 89, 1)), color-stop(0%, rgba(71, 71, 71, 1)), color-stop(100%, rgba(19, 19, 19, 1)));
  background: -webkit-linear-gradient(top, rgba(76, 76, 76, 1) 0%, rgba(28, 28, 28, 1) 0%, rgba(102, 102, 102, 1) 0%, rgba(89, 89, 89, 1) 0%, rgba(71, 71, 71, 1) 0%, rgba(19, 19, 19, 1) 100%);
  background: -o-linear-gradient(top, rgba(76, 76, 76, 1) 0%, rgba(28, 28, 28, 1) 0%, rgba(102, 102, 102, 1) 0%, rgba(89, 89, 89, 1) 0%, rgba(71, 71, 71, 1) 0%, rgba(19, 19, 19, 1) 100%);
  background: -ms-linear-gradient(top, rgba(76, 76, 76, 1) 0%, rgba(28, 28, 28, 1) 0%, rgba(102, 102, 102, 1) 0%, rgba(89, 89, 89, 1) 0%, rgba(71, 71, 71, 1) 0%, rgba(19, 19, 19, 1) 100%);
  background: linear-gradient(to bottom, rgba(76, 76, 76, 1) 0%, rgba(28, 28, 28, 1) 0%, rgba(102, 102, 102, 1) 0%, rgba(89, 89, 89, 1) 0%, rgba(71, 71, 71, 1) 0%, rgba(19, 19, 19, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0);
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;

  .container {
    max-width: 700px;
    display: flex;
    margin: auto;
    flex-direction: column;
    text-align: center;

    h1 {
      color: white;
      font-family: 'Galada', cursive;
      font-size: 40px;
      font-weight: 100;
      line-height: 50px;
    }
    small {
      font-family: 'Dancing Script', cursive;
      color: white;
    }

    .play {
      padding: 15px;
      border: 3px solid #FFBF00;
      border-radius: 15px;
      height: 50vh;
      display: flex;
      margin: auto;
      justify-content: center;

      .item {
        border: 10px solid black;
        background: white;
        padding: 5px;

        #slot {
          background: url("reel_normal.png") repeat-y;
          height: 100%;
          width: 86px;
        }

        #slot-b {
          background: url("reel_normal.png") repeat-y;
          height: 100%;
          width: 86px;
          background-position: 0% 450px;
        }

        #slot-c {
          background: url("reel_normal.png") repeat-y;
          height: 100%;
          width: 86px;
          background-position: 0% 225px;
        }

        #resultado {
          height: 26px;
          width: 76px;
          border: 1px solid #aaa;
          padding: 2px 5px;
        }
      }
    }
    .buttons {
      display: flex;
      height: 15vh;
      button {
        outline: none;
        background: rgba(241,231,103,1);
        background: -moz-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(242,208,116,1) 0%, rgba(255,191,0,1) 99%, rgba(255,191,0,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,231,103,1)), color-stop(0%, rgba(242,208,116,1)), color-stop(99%, rgba(255,191,0,1)), color-stop(100%, rgba(255,191,0,1)));
        background: -webkit-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(242,208,116,1) 0%, rgba(255,191,0,1) 99%, rgba(255,191,0,1) 100%);
        background: -o-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(242,208,116,1) 0%, rgba(255,191,0,1) 99%, rgba(255,191,0,1) 100%);
        background: -ms-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(242,208,116,1) 0%, rgba(255,191,0,1) 99%, rgba(255,191,0,1) 100%);
        background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(242,208,116,1) 0%, rgba(255,191,0,1) 99%, rgba(255,191,0,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#ffbf00', GradientType=1 );
        border: none;
        width: 50%;
        text-align: center;
        margin: auto;
        padding: 10px;
        border-radius: 15px;
        font-weight: bold;
        font-family: 'Acme', sans-serif;
        letter-spacing: 3px;
        text-transform: uppercase;

        &:first-child {
          margin-right: 5px;
        }
      }
    }
  }
}
